RewriteEngine on
Options FollowSymLinks

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ".*[^/]" "$0/"

    ###  USERS  ###

 #-  GET /users/:id/streams    -#

RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^users/([0-9]+)/streams/$" "query/GET/users/streams.php?userid=$1"

 #-  GET /users/:nickname/streams/    -#

RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^users/([0-9a-zA-Z]+)/streams/$" "query/GET/users/streams.php?usernickname=$1"

 #-  GET /users/:id/avatar/    -#

RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^users/([0-9]+)/avatar/$" "query/GET/users/avatar.php?userid=$1"

 #-  GET /users/:nickname/avatar/    -#

#RewriteCond %{REQUEST_METHOD} GET
#RewriteRule "^users/([0-9a-zA-Z]+)/avatar/$" "query/GET/users/avatar.php?usernickname=$1"

 #-  PUT /users/:id/avatar/    -#

RewriteCond %{REQUEST_METHOD} PUT
RewriteRule "^users/([0-9]+)/avatar/$" "query/PUT/users/avatar.php?userid=$1"

 #-  PUT /users/:nickname/avatar/    -#

#RewriteCond %{REQUEST_METHOD} PUT
#RewriteRule "^users/([0-9a-zA-Z]+)/avatar/$" "query/PUT/users/avatar.php?usernickname=$1"

 #-  GET /users/:id/organizations/    -#

RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^users/([0-9a-zA-Z]+)/organizations/$" "query/GET/users/organizations.php?userid=$1"

 #-  POST /users/:id/organizations/    -#

#RewriteCond %{REQUEST_METHOD} POST
#RewriteRule "^users/([0-9a-zA-Z]+)/organizations/$" "query/POST/users/organizations.php?userid=$1"

 #-  GET /users/:id/    -#

RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^users/([0-9]+)/$" "query/GET/users/users.php?id=$1"

 #-  GET /users/:nickname/    -#

#RewriteCond %{REQUEST_METHOD} GET
#RewriteRule "^users/([0-9a-zA-Z]+)/$" "query/GET/users/users.php?nickname=$1"

 #-  GET /users/     -#

RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^users/$" "query/GET/users/users.php"

 #-  POST /login/     -#

RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^login/$" "query/POST/login/login.php"

 #-  POST /users/    -#

RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^users/$" "query/POST/users/users.php"

 #-  DELETE /users/:id/    -#

RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule "^users/([0-9]+)/$" "query/DELETE/users/users.php?id=$1"

 #-  DELETE /users/:nickname/    -#

#RewriteCond %{REQUEST_METHOD} DELETE
#RewriteRule "^users/([0-9a-zA-Z]+)/$" "query/DELETE/users/users.php?nickname=$1"

 #-  PATCH /users/:id/    -#

RewriteCond %{REQUEST_METHOD} PATCH
RewriteRule "^users/([0-9]+)/$" "query/PATCH/users/users.php?id=$1"

 #-  PATCH /users/:nickname/    -#

#RewriteCond %{REQUEST_METHOD} PATCH
#RewriteRule "^users/([0-9a-zA-Z]+)/$" "query/PATCH/users/users.php?nickname=$1"

 #-  PUT /users/:id/    -#

RewriteCond %{REQUEST_METHOD} PUT
RewriteRule "^users/([0-9]+)/$" "query/PUT/users/users.php?id=$1"

 #-  PUT /users/:nickname/    -#

#RewriteCond %{REQUEST_METHOD} PUT
#RewriteRule "^users/([0-9a-zA-Z]+)/$" "query/PUT/users/users.php?nickname=$1"

    ###  STREAMS  ###

 #-  POST /streams/:id/tag  -#
RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^streams/([0-9])/tag/$" "query/POST/streams/tag.php?id=$1"

 #-  GET /streams/:id/replays -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^streams/([0-9]+)/replays/$" "query/GET/streams/replays.php?id=$1"

 #-  GET /streams/:id/blocks  -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^streams/([0-9]+)/blocks/$" "query/GET/streams/blocks.php?id=$1"

 #-  GET /streams/:id/followers -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^streams/([0-9]+)/followers/$" "query/GET/streams/followers.php?id=$1"

 #-  GET /streams/:id/chat  -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^streams/([0-9]+)/chat/$" "query/GET/streams/chat.php?id=$1"

 #-  GET /streams/:id/repository  -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^streams/([0-9]+)/repository/$" "query/GET/streams/repository.php?id=$1"

 #-  GET /streams/:id   -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^streams/([0-9]+)/$" "query/GET/streams/streams.php?id=$1"

 #-  DELETE /streams/:id -#
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule "^streams/([0-9]+)/$" "query/DELETE/streams/streams.php?id=$1"

 #-  GET /streams/    -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^streams/$" "query/GET/streams/streams.php"

 #-  POST /streams/    -#
RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^streams/$" "query/POST/streams/streams.php"

    ###  ORGANIZATIONS  ###

 #-  GET /organizations/:id/streams   -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^organizations/([0-9]+)/streams/$" "query/GET/organizations/streams.php?id=$1"

 #-  POST /organizations/:id/streams   -#
RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^organizations/([0-9]+)/streams/$" "query/POST/organizations/streams.php?id=$1"

 #- POST /organizations/:id/members  -#
RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^organizations/([0-9]+)/members/" "query/POST/organizations/members.php?id=$1"

 #-  GET /organizations/:id/members   -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^organizations/([0-9]+)/members/$" "query/GET/organizations/members.php?id=$1"

 #-  GET /organizations/:id     -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^organizations/([0-9]+)/$" "query/GET/organizations/organization.php?id=$1"

 #-  DELETE /organizations/:id    -#
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule "^organizations/([0-9]+)/$" "query/DELETE/organizations/organization.php?id=$1"

 #-  PATCH /organizations/:id    -#
RewriteCond %{REQUEST_METHOD} PATCH
RewriteRule "^organizations/([0-9]+)/$" "query/PATCH/organizations/organization.php?id=$1"

 #-  PUT /organizations/:id     -#
RewriteCond %{REQUEST_METHOD} PUT
RewriteRule "^organizations/([0-9]+)/$" "query/PUT/organizations/organization.php?id=$1"

 #-  GET /organizations/      -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^organizations/$" "query/GET/organizations/organization.php"

 #-  POST /organizations/     -#
RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^organizations/$" "query/POST/organizations/organization.php"

    ###  TAGS  ###

 #-  GET /tags/   -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^tags/$" "query/GET/tags/tags.php"

 #- POST /tags/ -#
RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^tags/$" "query/POST/tags/tags.php"

 #- GET /tags/:id/ -#
RewriteCond %{REQUEST_METHOD} GET
RewriteRule "^tags/([0-9]+)/$" "query/GET/tags/tags.php?id=$1"

 #- PUT /tags/:id/ -#
RewriteCond %{REQUEST_METHOD} PUT
RewriteRule "^tags/([0-9]+)/$" "query/PUT/tags/tags.php?id=$1"

 #- PATCH /tags/:id/ -#
RewriteCond %{REQUEST_METHOD} PATCH
RewriteRule "^tags/([0-9]+)/$" "query/PATCH/tags/tags.php?id=$1"

 #- DELETE /tags/:id/ -#
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule "^tags/([0-9]+)/$" "query/DELETE/tags/tags.php?id=$1"

    ###  QUERY_STRING  ###

RewriteCond %{HTTP_ACCEPT} "application/json"
RewriteCond %{QUERY_STRING} !accept
RewriteRule "query/.*" $0?%{QUERY_STRING}&accept=json

RewriteCond %{HTTP_ACCEPT} "application/xml"
RewriteCond %{QUERY_STRING} !accept
RewriteRule "query/.*" $0?%{QUERY_STRING}&accept=xml

Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT, PATCH"
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"