swagger: "2.0"
info:
  title: TwiceCast API
  description: TwiceCast api specification
  version: 0.1.0
  contact:
    name: TwiceCast
    email: twicecast_2018@labeip.epitech.eu
  license:
    name: MIT
    url: https://opensource.org/licenses/mit-license.php

host: eip.epitech.eu

schemes:
  - https

produces:
  - application/json
  - application/xml

consumes:
  - application/json
  - application/xml

paths:
  /:
    options:
      description: Return description of API
      responses:
        200:
          description: Return verbe suported in header
          headers:
            Allow:
              description: list of method handle by /
              type: string
  /users:
    get:
      description: Return all users
      responses:
        200:
          description: A list of users.
          schema:
            type: array
            items:
              $ref: "#/definitions/user"
        404:
          description: not found
          schema:
            $ref: "#/definitions/error"
    post:
      description: Create a user
      responses:
        200:
          description: the new user create
          schema:
            $ref: "#/definitions/user"
      parameters:



  /users/{id}/:
    get:
      description: Ruten one user
      produces:
        - application/json
        - application/xml
      responses:
        200:
          description: The user
          schema:
            $ref: "#/definitions/user"
    parameters:
      - $ref: "#/parameters/id"

parameters:
  id:
    name: id
    in: path
    type: integer
    required: true
  user:
    name: user
    in: body
    schemas:
      $ref: "#/definitions/user"
    required: true

definitions:
  user:
    properties:
      id:
        type: string
      nickname:
        type: string
      email:
        type: string
        format: email
      country:
        $ref: "#/definitions/country"
      birthdate:
        type: string
        format: date
      rank:
        $ref: "#/definitions/rank"
      register_date:
        type: string
        format: date
      last_visit_date:
        type: string
        format: date

  country:
    properties:
      id:
        type: string
      code:
        type: string
      name:
        type: string

  rank:
   properties:
    id:
      type: string
    title:
      type: string

  error:
    properties:
      error:
        type: string
