{"swagger":"2.0","info":{"title":"TwiceCast API","description":"TwiceCast api specification","version":"0.1.0","contact":{"name":"TwiceCast","email":"twicecast_2018@labeip.epitech.eu"},"license":{"name":"MIT","url":"https://opensource.org/licenses/mit-license.php"}},"host":"eip.epitech.eu","basePath":"/0.1.0","schemes":["https"],"produces":["application/json","application/xml"],"consumes":["application/json","application/xml"],"paths":{"/":{"options":{"description":"Return description of API","responses":{"200":{"$ref":"#/responses/option"}}}},"/users":{"get":{"tags":["user"],"description":"Return all users","responses":{"200":{"description":"A list of users.","schema":{"type":"array","items":{"$ref":"#/definitions/user"}}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["user"],"description":"Create a user","responses":{"200":{"description":"The new user created","schema":{"$ref":"#/definitions/user"}}},"parameters":[{"$ref":"#/parameters/user"}]}},"/users/{userId}":{"get":{"tags":["user"],"description":"Return one user","responses":{"200":{"$ref":"#/responses/user"}}},"put":{"tags":["user"],"description":"replace one user","responses":{"200":{"$ref":"#/responses/user"}}},"patch":{"tags":["user"],"description":"patch one user","responses":{"200":{"$ref":"#/responses/user"}}},"delete":{"tags":["user"],"description":"delete a user","responses":{"200":{"description":"done"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/users/{userId}/streams":{"get":{"tags":["user"],"description":"Return all stream","responses":{"200":{"description":"array of streams","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}}}},"post":{"tags":["user"],"description":"Create a stream","responses":{"200":{"$ref":"#/responses/stream"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/users/{userId}/avatar":{"get":{"description":"Return avatar","responses":{"200":{"description":"todo"}}},"put":{"description":"replace avatar","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/users/{userId}/users":{"get":{"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/streams":{"get":{"tags":["stream"],"description":"Return all streams","responses":{"200":{"description":"A list of streams.","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}},"400":{"description":"Not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["stream"],"description":"Create a stream","responses":{"200":{"description":"The new stream created","schema":{"$ref":"#/definitions/stream"}}},"parameters":[{"$ref":"#/parameters/stream"}]}},"/streams/{streamId}":{"get":{"tags":["stream"],"description":"Get info of a stream","responses":{"200":{"$ref":"#/responses/stream"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/replays":{"get":{"tags":["stream"],"description":"Get all replays","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/users":{"get":{"tags":["stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/chat":{"get":{"tags":["stream"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/categories":{"get":{"tags":["category"],"description":"Return all categories","responses":{"200":{"description":"A list of categories","schema":{"type":"array","items":{"$ref":"#/definitions/category"}}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["category"],"description":"Create a category","responses":{"200":{"description":"The new category created","schema":{"$ref":"#/definitions/category"}}},"parameters":[{"$ref":"#/parameters/category"}]}},"/categories/{categoryId}":{"get":{"tags":["category"],"description":"Return one category","responses":{"200":{"$ref":"#/responses/category"}}},"put":{"tags":["category"],"description":"Replace one category","responses":{"200":{"$ref":"#/responses/category"}}},"patch":{"tags":["category"],"description":"Patch one category","responses":{"200":{"$ref":"#/responses/category"}}},"delete":{"tags":["category"],"description":"Delete a category","responses":{"200":{"description":"Done"}}},"parameters":[{"$ref":"#/parameters/categoryId"}]},"/countries":{"get":{"tags":["country"],"description":"Return all countries","responses":{"200":{"description":"A list of countries","schema":{"type":"array","items":{"$ref":"#/definitions/country"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["country"],"description":"Create a country","responses":{"200":{"description":"The new country created","schema":{"$ref":"#/definitions/country"}}},"parameters":[{"$ref":"#/parameters/country"}]}}},"responses":{"stream":{"description":"the stream","schema":{"$ref":"#/definitions/stream"}},"user":{"description":"The user","schema":{"$ref":"#/definitions/user"}},"category":{"description":"A category","schema":{"$ref":"#/definitions/category"}},"country":{"description":"A country","schema":{"$ref":"#/definitions/country"}},"option":{"description":"return allow header","headers":{"Allow":{"description":"list of method handle by /","type":"string"}}}},"parameters":{"userId":{"name":"userId","in":"path","required":true,"type":"integer"},"streamId":{"name":"streamId","in":"path","required":true,"type":"integer"},"categoryId":{"name":"categoryId","in":"path","required":true,"type":"integer"},"user":{"name":"user","in":"body","required":true,"schema":{"$ref":"#/definitions/user"}},"category":{"name":"category","in":"body","required":true,"schema":{"$ref":"#/definitions/category"}},"stream":{"name":"stream","in":"body","required":true,"schema":{"$ref":"#/definitions/stream"}},"country":{"name":"country","in":"body","required":true,"schema":{"$ref":"#/definitions/country"}}},"definitions":{"stream":{"properties":{"title":{"type":"string"}}},"user":{"properties":{"id":{"type":"string"},"pseudo":{"type":"string"},"email":{"type":"string","format":"email"},"country":{"$ref":"#/definitions/country"},"birthdate":{"type":"string","format":"date"},"rank":{"$ref":"#/definitions/rank"},"register_date":{"type":"string","format":"date"},"last_visit_date":{"type":"string","format":"date"}}},"category":{"properties":{"id":{"type":"int"},"type":{"type":"short"},"name":{"type":"string"}}},"country":{"properties":{"id":{"type":"int"},"code":{"type":"string","maxLength":3},"name":{"type":"string"}}},"rank":{"properties":{"id":{"type":"string"},"title":{"type":"string"}}},"error":{"properties":{"error":{"type":"string"}}}}}