{"swagger":"2.0","info":{"title":"TwiceCast API","description":"TwiceCast api specification","version":"0.1.0","contact":{"name":"TwiceCast","email":"twicecast_2018@labeip.epitech.eu"},"license":{"name":"MIT","url":"https://opensource.org/licenses/mit-license.php"}},"host":"eip.epitech.eu","schemes":["https"],"produces":["application/json","application/xml"],"consumes":["application/json","application/xml"],"paths":{"/":{"options":{"description":"Return description of API","responses":{"200":{"$ref":"#/responses/option"}}}},"/users":{"get":{"description":"Return all users","responses":{"200":{"description":"A list of users.","schema":{"type":"array","items":{"$ref":"#/definitions/user"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"description":"Create a user","responses":{"200":{"description":"the new user create","schema":{"$ref":"#/definitions/user"}}},"parameters":[{"$ref":"#/parameters/user"}]}},"/users/{id}":{"get":{"description":"Ruten one user","responses":{"200":{"$ref":"#/responses/user"}}},"parameters":[{"$ref":"#/parameters/id"}],"put":{"description":"replace one user","responses":{"200":{"$ref":"#/responses/user"}}},"patch":{"description":"patch one user","responses":{"200":{"$ref":"#/responses/user"}}},"delete":{"description":"delete a user","responses":{"200":{"description":"done"}}}},"/streams":{"get":{"description":"Return all stream","responses":{"200":{"description":"array of streams","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}}}},"post":{"description":"Create a stream","responses":{"200":{"$ref":"#/responses/stream"}}}},"/streams/{id}":{"parameters":[{"$ref":"#/parameters/id"}],"get":{"description":"get info of a stream","responses":{"200":{"$ref":"#/responses/stream"}}}},"/streams/{id}/replay":{"parameters":[{"$ref":"#/parameters/id"}],"get":{"description":"lol","responses":{"200":{"description":"xd"}}}}},"responses":{"stream":{"description":"the stream","schema":{"$ref":"#/definitions/stream"}},"user":{"description":"The user","schema":{"$ref":"#/definitions/user"}},"option":{"description":"return allow header","headers":{"Allow":{"description":"list of method handle by /","type":"string"}}}},"parameters":{"id":{"name":"id","in":"path","required":true,"type":"integer"},"user":{"name":"user","in":"body","required":true,"schema":{"$ref":"#/definitions/user"}}},"definitions":{"stream":{"properties":{"title":{"type":"string"}}},"user":{"properties":{"id":{"type":"string"},"nickname":{"type":"string"},"email":{"type":"string","format":"email"},"country":{"$ref":"#/definitions/country"},"birthdate":{"type":"string","format":"date"},"rank":{"$ref":"#/definitions/rank"},"register_date":{"type":"string","format":"date"},"last_visit_date":{"type":"string","format":"date"}}},"country":{"properties":{"id":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"}}},"rank":{"properties":{"id":{"type":"string"},"title":{"type":"string"}}},"error":{"properties":{"error":{"type":"string"}}}}}