{"swagger":"2.0","info":{"title":"TwiceCast API","description":"TwiceCast api specification","version":"0.1.0","contact":{"name":"TwiceCast","email":"twicecast_2018@labeip.epitech.eu"},"license":{"name":"MIT","url":"https://opensource.org/licenses/mit-license.php"}},"host":"eip.epitech.eu","basePath":"/0.1.0","schemes":["https"],"produces":["application/json","application/xml"],"consumes":["application/json","application/xml"],"paths":{"/":{"options":{"description":"Return description of API","responses":{"200":{"$ref":"#/responses/option"}}}},"/users":{"get":{"tags":["User"],"description":"Return all users","responses":{"200":{"description":"A list of users.","schema":{"type":"array","items":{"$ref":"#/definitions/user"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["User"],"description":"Create a user","responses":{"200":{"description":"the new user create","schema":{"$ref":"#/definitions/user"}}},"parameters":[{"$ref":"#/parameters/user"}]},"parameters":[{"$ref":"#/parameters/signature"}]},"/users/{userId}":{"get":{"tags":["User"],"description":"Return one user","responses":{"200":{"$ref":"#/responses/user"}}},"put":{"tags":["User"],"description":"replace one user","responses":{"200":{"$ref":"#/responses/user"}}},"patch":{"tags":["User"],"description":"patch one user","responses":{"200":{"$ref":"#/responses/user"}}},"delete":{"tags":["User"],"description":"delete a user","responses":{"200":{"description":"done"}}},"parameters":[{"$ref":"#/parameters/userId"},{"$ref":"#/parameters/signature"}]},"/users/{userId}/channels":{"get":{"tags":["User"],"description":"Return all channel","responses":{"200":{"description":"array of channels","schema":{"type":"array","items":{"$ref":"#/definitions/channel"}}}}},"post":{"tags":["User"],"description":"Create a channel","responses":{"200":{"$ref":"#/responses/channel"}}},"parameters":[{"$ref":"#/parameters/userId"},{"$ref":"#/parameters/signature"}]},"/users/{userId}/avatar":{"get":{"tags":["User"],"description":"Return avatar","responses":{"200":{"description":"todo"}}},"put":{"tags":["User"],"description":"replace avatar","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"},{"$ref":"#/parameters/signature"}]},"/users/{userId}/friends":{"get":{"tags":["User"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"},{"$ref":"#/parameters/signature"}]},"/users/{userId}/blocks":{"get":{"tags":["User"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"},{"$ref":"#/parameters/signature"}]},"/users/{userId}/follows":{"get":{"tags":["User"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"},{"$ref":"#/parameters/signature"}]},"/users/{userId}/subscribes":{"get":{"tags":["User"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"},{"$ref":"#/parameters/signature"}]},"/streams":{"get":{"tags":["Stream"],"description":"Return all streams","responses":{"200":{"description":"A list of streams.","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Stream"],"description":"Create a stream","responses":{"200":{"description":"the new stream created","schema":{"$ref":"#/definitions/stream"}}},"parameters":[{"$ref":"#/parameters/stream"}]},"parameters":[{"$ref":"#/parameters/signature"}]},"/streams/{streamId}":{"get":{"tags":["Stream"],"description":"get info of a stream","responses":{"200":{"$ref":"#/responses/stream"}}},"parameters":[{"$ref":"#/parameters/streamId"},{"$ref":"#/parameters/signature"}]},"/streams/{streamId}/replays":{"get":{"tags":["Stream"],"description":"Get all replays","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"},{"$ref":"#/parameters/signature"}]},"/streams/{streamId}/blocks":{"get":{"tags":["Stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"},{"$ref":"#/parameters/signature"}]},"/streams/{streamId}/followers":{"get":{"tags":["Stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"},{"$ref":"#/parameters/signature"}]},"/streams/{streamId}/subscribers":{"get":{"tags":["Stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"},{"$ref":"#/parameters/signature"}]},"/streams/{streamId}/chat":{"get":{"tags":["Stream"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"},{"$ref":"#/parameters/signature"}]},"/channels":{"get":{"tags":["Channel"],"description":"Return all channels","responses":{"200":{"description":"A list of channels.","schema":{"type":"array","items":{"$ref":"#/definitions/channel"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Channel"],"description":"Create a channel","responses":{"200":{"description":"the new channel created","schema":{"$ref":"#/definitions/channel"}}},"parameters":[{"$ref":"#/parameters/channel"}]},"parameters":[{"$ref":"#/parameters/signature"}]},"/channels/{channelId}":{"get":{"tags":["Channel"],"description":"Return one channel","responses":{"200":{"$ref":"#/responses/channel"}}},"put":{"tags":["Channel"],"description":"Replace one channel","responses":{"200":{"$ref":"#/responses/channel"}}},"patch":{"tags":["Channel"],"description":"Patch one channel","responses":{"200":{"$ref":"#/responses/channel"}}},"delete":{"tags":["Channel"],"description":"delete a channel","responses":{"200":{"description":"done"}}},"parameters":[{"$ref":"#/parameters/channelId"},{"$ref":"#/parameters/signature"}]},"/channels/{channelId}/streams":{"get":{"tags":["Channel"],"description":"Return all stream","responses":{"200":{"description":"array of streams","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}}}},"post":{"tags":["Channel"],"description":"Create a stream","responses":{"200":{"$ref":"#/responses/stream"}}},"parameters":[{"$ref":"#/parameters/channelId"},{"$ref":"#/parameters/signature"}]},"/channels/{channelId}/members":{"get":{"tags":["Channel"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/channelId"},{"$ref":"#/parameters/signature"}]},"/categories":{"get":{"tags":["Category"],"description":"Return all categories","responses":{"200":{"description":"A list of categories","schema":{"type":"array","items":{"$ref":"#/definitions/category"}}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/error"}}},"parameters":[{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/page"}]},"post":{"tags":["Category"],"description":"Create a category","responses":{"200":{"description":"The new category created","schema":{"$ref":"#/definitions/category"}}},"parameters":[{"$ref":"#/parameters/category"}]},"parameters":[{"$ref":"#/parameters/signature"}]},"/categories/{categoryId}":{"get":{"tags":["Category"],"description":"Return one category","responses":{"200":{"$ref":"#/responses/category"}}},"put":{"tags":["Category"],"description":"Replace one category","responses":{"200":{"$ref":"#/responses/category"}}},"patch":{"tags":["Category"],"description":"Patch one category","responses":{"200":{"$ref":"#/responses/category"}}},"delete":{"tags":["Category"],"description":"Delete a category","responses":{"200":{"description":"Done"}}},"parameters":[{"$ref":"#/parameters/categoryId"},{"$ref":"#/parameters/signature"}]},"/countries":{"get":{"tags":["Category"],"description":"Return all countries","responses":{"200":{"description":"A list of countries","schema":{"type":"array","items":{"$ref":"#/definitions/country"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}},"parameters":[{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/page"}]},"post":{"tags":["Category"],"description":"Create a country","responses":{"200":{"description":"The new country created","schema":{"$ref":"#/definitions/country"}}},"parameters":[{"$ref":"#/parameters/country"}]},"parameters":[{"$ref":"#/parameters/signature"}]}},"parameters":{"userId":{"name":"userId","in":"path","required":true,"type":"integer"},"streamId":{"name":"streamId","in":"path","required":true,"type":"integer"},"channelId":{"name":"channelId","in":"path","required":true,"type":"integer"},"user":{"name":"user","in":"body","required":true,"schema":{"$ref":"#/definitions/user"}},"stream":{"name":"stream","in":"body","required":true,"schema":{"$ref":"#/definitions/stream"}},"channel":{"name":"channel","in":"body","required":true,"schema":{"$ref":"#/definitions/channel"}},"limit":{"name":"limit","in":"query","description":"Limit the number of result","type":"integer","required":false},"country":{"name":"country","in":"body","required":true,"schema":{"$ref":"#/definitions/country"}},"page":{"name":"page","in":"query","description":"Offset the results","type":"number","required":false},"category":{"name":"category","in":"body","required":true,"schema":{"$ref":"#/definitions/category"}},"categoryId":{"name":"categoryId","in":"path","required":true,"type":"integer"},"signature":{"name":"signature","in":"query","description":"signature","type":"string","required":true}},"responses":{"stream":{"description":"the stream","schema":{"$ref":"#/definitions/stream"}},"user":{"description":"The user","schema":{"$ref":"#/definitions/user"}},"channel":{"description":"The channel","schema":{"$ref":"#/definitions/channel"}},"option":{"description":"return allow header","headers":{"Allow":{"description":"list of method handle by /","type":"string"}}},"category":{"description":"A category","schema":{"$ref":"#/definitions/category"}}},"definitions":{"stream":{"properties":{"title":{"type":"string"}}},"channel":{"properties":{"title":{"type":"string"}}},"user":{"properties":{"id":{"type":"string"},"pseudo":{"type":"string"},"email":{"type":"string","format":"email"},"country":{"$ref":"#/definitions/country"},"birthdate":{"type":"string","format":"date"},"rank":{"$ref":"#/definitions/rank"},"register_date":{"type":"string","format":"date"},"last_visit_date":{"type":"string","format":"date"}}},"country":{"properties":{"id":{"type":"integer"},"code":{"type":"string","maxLength":3,"description":"3-length char country name representation"},"name":{"type":"string","description":"Country name"}}},"rank":{"properties":{"id":{"type":"string"},"title":{"type":"string"}}},"error":{"properties":{"error":{"type":"string"}}},"category":{"properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"integer","format":"int32","description":"Type of the category"},"name":{"type":"string","description":"Name of the category"}}}}}