#RewriteRule "^users/([0-9]+)" "users/?id=$1"
#RewriteRule "^users" "users/users.php"

#RewriteCond %{HTTP_ACCEPT} "application/json"
#RewriteCond %{QUERY_STRING} !accept
#RewriteRule ".*" $0?%{QUERY_STRING}&accept=json

#RewriteCond %{HTTP_ACCEPT} "application/xml"
#RewriteCond %{QUERY_STRING} !accept
#RewriteRule ".*" $0?%{QUERY_STRING}&accept=xml
